.app-photo {
  margin: 10px 5px;
  overflow: hidden;
  .Typist  {
    color: white;
  }
  
  &__image {
    width: 100%;
    display: block;
    transition: all ease .5s;
    filter: grayscale(50%);
  }
  &__loader {
    background: rgba($color: #fff, $alpha: 1.0);
    height: 100px;
    animation: flickerAnimation 3s infinite;
  }
  &:hover {
    .app-photo {
      &__image {
        transform: scale(1.1);
        filter: grayscale(0%);
      }
    }
  }
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:.5; }
  100% { opacity:1; }
}