:root {
  --font-primary: 'Open Sans';
  --font-secondary: 'Dancing Script';
  --font-cursive: 'Parisienne';
  --primary: #663366;
  --secondary: #669999;
  --light: #66cc33;
  --app-height: 100vh;
  --height-height: 500px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
